.borderless tbody tr td, .borderless thead tr th {
  border: none;
}

.sprite img {
  width: 100px;
}

.earth{
  background-color: #EEFFEE;
}

.heaven{
  background-color: #9AD9EA;
}

.hell{
  background-color: #FFA66D;
}

.ht{
	height:100px;
}